<!-- Pantallas extrachicas -->
<div class="xsm-img">
    <div class="m-0 d-flex vh-100 row justify-content-center align-items-center">
        <div class="card corral">
            <img src="./../../../assets/gifAttack.gif" alt="" class="img-thumbnail">
            <h4 class="text-success text-center">Etical Hacking Success</h4>
        </div>
    </div>
</div>
<!-- Pantallas chicas -->
<div class="sm-img">
    <div class="m-0 d-flex vh-100 row justify-content-center align-items-center">
        <div class="card corral">
            <img src="./../../../assets/gifAttack.gif" alt="" class="img-thumbnail">
            <h1 class="text-success text-center">Etical Hacking Success</h1>
        </div>
    </div>
</div>
<!-- Pantallas medianas -->
<div class="md-img">
    <div class="m-0 d-flex vh-100 row justify-content-center align-items-center">
        <div class="card corral">
            <img src="./../../../assets/gifAttack.gif" alt="" class="img-thumbnail">
            <h1 class="text-success text-center">Etical Hacking Success</h1>
        </div>
    </div>
</div>
<!-- Pantallas grande -->
<div class="lg-img">
    <div class="m-0 d-flex vh-100 row justify-content-center align-items-center">
        <div class="card corral">
            <img src="./../../../assets/gifAttack.gif" alt="" class="img-thumbnail">
            <h1 class="text-success text-center">Etical Hacking Success</h1>
        </div>
    </div>
</div>
<!-- Pantallas extra grande -->
<div class="xlg-img">
    <div class="m-0 d-flex vh-100 row justify-content-center align-items-center">
        <div class="card corral">
            <img src="./../../../assets/gifAttack.gif" alt="" class="img-thumbnail">
            <h1 class="text-success text-center">Etical Hacking Success</h1>
        </div>
    </div>
</div>
